<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Status</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Status Air</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let status of Status.data">
        <ion-icon name="speedometer"></ion-icon>
        <ion-label class="ion-text-wrap"> Ketinggian Air : {{ status.ketinggian }} cm <br> Status : {{ status.status_air }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
