ion-grid{
    ion-row{
        ion-col{
            ion-img{
                height: auto !important;
                width: 70vw !important;
                align-items: center !important;
            }
        }
    }
}